@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100..900&display=swap');

* {
    font-family: "Poppins", sans-serif;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #141718;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.welcome-container {
    text-align: center;
    padding: 20px;

}

.logo img {
    width: 300px;
    height: auto;
    margin-bottom: 20px;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.auth-buttons,
form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;

}

.login-button {
    background-color: #232627;
    color: white;
    font-weight: 600;
    font-style: normal;

}

.login-button:hover {
    background-color: #71fc78;
    color: #141718;

}

.signup-button {
    background-color: #232627;
    color: white;
    font-weight: 600;
    font-style: normal;
}

.signup-button:hover {
    background-color: #71fc78;
    color: #141718;
}

input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}

input:focus {
    outline: none;
    border-color: #71fc78;
}

